#submt{
	font-family: "Roboto", sans-serif;
	text-transform: uppecase;
	outline: 0;
	background: white;
	width: 60%;
	border: 0;
	padding: 15px;
	color: black;
	font-size: 14px;
	cursor: pointer;
        }
#submt:hover{
    background-color: lightgoldenrodyellow;
}
#titpt6{
    text-align: center;
}